.main-layout {
  width: 100%;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
  width: 100%;
  max-width: 1200px; /* Max width for the main content area */
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}